{% extends "myApp/header.html" %}

{% block title %}
    Feedback - {{ block.super }}
{% endblock %}

{% block content %}

<div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12"></div>
        <div class="col-lg-4 col-md-4 col-sm-12">
                <div>
                {{ form.non_field_errors }}
                
                <form action="" method="post" class="form-group">
                    {% csrf_token %}
                
                  
                                {{ form.name.errors }}
                             
                                <input type="text" id="id_name" name="name" placeholder="Name..">
                         
                                {{ form.email.errors }}
                                <input type="email" id="id_email" name="email" placeholder="Email address..">
                        
                                {{ form.subject.errors }}
                                <input type="text" id="id_subject" name="subject" placeholder="Subject..">
                       
                                {{ form.message.errors }}
                                <textarea id="id_message" cols="50" rows="10" name="message" placeholder="Your message.."></textarea>
                      
                       <input class="submit" type="submit" value="Send!">
                       
                </form>
                </div>
             
        
        
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12"></div>





        <style>
        
        form{
    margin-top: 17%;
   
}
input:-webkit-autofill {

-webkit-box-shadow: inset 0 0 0px 9999px white;
}
input{
   
  font-family: 'Open Sans', sans-serif;

display: block;
margin: auto;
margin-top: 28px;
width: 70%;
height: 29px;

margin-bottom: 1rem;
padding: 0.25rem;
font-size: 1rem;
color: rgba(0, 0, 0, 1);
outline: 0;

transition: 0.2s ease-in-out;


}
  textarea{
    font-family: 'Open Sans', sans-serif;

display: block;
margin: auto;
margin-top: 28px;
width: 70%;
height: 88px;

margin-bottom: 1rem;
padding: 0.25rem;
font-size: 1rem;
color: rgba(0, 0, 0, 1);
outline: 0;

transition: 0.2s ease-in-out;


  }  
  
  .submit{

margin-top: 28px;
width: 70%;
height: 39px;
background: #e63900;
border: none;
border-radius: 2px;
color: #FFF;
font-family: 'Roboto', sans-serif;
font-weight: 500;
text-transform: uppercase;
transition: 0.1s ease;
cursor: pointer;
padding: 12px 0px 33px 0px;



}               
                
        
        
        </style>
{% endblock %}