


<!DOCTYPE html>
<html>
<head>
  

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Qouta ||  </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}   
    <link rel="stylesheet" href="{% static 'blog/js/csss.css' %}">

     <link rel="stylesheet" href="{% static 'blog/css/header.css' %}">
     <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
</head>

<div class="button-out"><div class="button"><h1 style="font-size:35px;">+</h1></div></div>
<body>

<div class="row bg-danger">
    <div class="col-2 bg-danger part1" style=" " >
    </div>
    <div class="col-5 part2 bg-danger" >
            <div class="row " class="part34">
                <div class="col-12   part3" style=" height: 70px;">
               Quotee
                </div>
                <div class="col-12 part4" style=" height:30px;" >
                 <h6>Add  your  quote!</h6> 
                </div>
            </div>
   </div>
    <div class="col-5 part5" style=" ">
    </div>
   
</div>

</div>
               
             
               
           
   
       
  
         

    


</body>
<style>
    p{
        background: red;
    }
.part34{
padding-top: 73px;

 }   
 .part4{


 }  
    
    </style>

{% block content%}
{% endblock %}